// Pour mémoire variables d'origine master mastodon
$color1: #282c37; // darkest
$color2: #d9e1e8; // lightest
$color3: #9baec8; // lighter
$color4: #2b90d9; // vibrant
$color5: #ffffff; // white
$color6: #df405a; // error red
$color7: #79bd9a; // succ green
$color8: #000000; // black

// PALETTE DE COULEURS
// -------------------

// Palette du thème
$gray1:             #282c37;
$gray2:             #393e4e;
$gray3:             #495064;
$gray4:             #5a637b;
$gray5:             #6a7592; // unused
$gray6:             #93abc3;
$gray7:             #d0d3dd;
$gray8:             #e7e8ed;

$slate1:            #2c3e50;
$slate2:            #34495e;
$slate3:            #476481;

$turquoise:         #009092;
$blue-green:        #52abaf;
$blue-light:        #e0ffff;

$error:             #c0392b;
$success:           #27ae60;

$lightest:          $gray8;
$darkest:           $gray1;

// ------- theme ----------
// main backgrounds
$bg1:               $gray1;
$bg2:               $gray2;
$bg3:               $gray3;
$bg4:               $gray4;
$bg8:               $gray8;

// secondary backgrounds (admin, about…)
$sbg1:              $slate1;
$sbg2:              $slate2;
$sbg3:              $slate3;

// borders
$border1:           $gray1;
$border2:           $gray2;
$border3:           $gray3;

// text colors
$base-txt:          $lightest;
$base2-txt:         $gray7; // same with little mute
$contrast-txt:      $gray2; // inverted backgrounds

// all types colors
$muted:             lighten($gray2, 45%); // #abb0c2
$accent:            $blue-green;
$light-accent:      $blue-light;
$vibrant:           $turquoise;

// ------ and there we go
$body-bg:           $bg1;
$alt-body-bg:       $sbg1;
$body-txt:          $base-txt;


// MEDIA QUERIES (not in use yet, will be)
// -------------------
$unpeu:             20em;
$beaucoup:          39em;
$passion:           64em;
$folie:             120em;


