// PALETTE DE COULEURS
// -------------------

// Palette du thème
$gray1:             #282c37;
$gray2:             #393e4e;
$gray3:             #495064;
$gray4:             #5a637b;
$gray5:             #6a7592;
$gray6:             #93abc3;
$gray7:             #d0d3dd;

$slate1:            #2c3e50;
$slate2:            #34495e;
$slate3:            #476481;

$turquoise:         #009092;
$blue-green:        #52abaf;
$blue-light:        #e0ffff;

$error:             #c0392b;
$success:           #27ae60;

$lightest:          #fff;
$darkest:           #000;

// ------- theme ----------
// main backgrounds
$bg1:               $gray1;
$bg2:               $gray2;
$bg3:               $gray3;
$bg4:               $gray4;

// secondary backgrounds (admin, about…)
$sbg1:              $slate1;
$sbg2:              $slate2;
$sbg3:              $slate3;

// borders
$border1:           $gray1;
$border2:           $gray2;
$border3:           $gray3;

// text colors
$base-txt:          $lightest;
$base2-txt:         $gray7; // same with little mute
$contrast-txt:      $gray2; // inverted backgrounds

// all types colors
$muted:             lighten($gray2, 35%);
$accent:            $blue-green;
$light-accent:      $blue-light;
$vibrant:           $turquoise;

// ------ and there we go
$body-bg:           $bg1;
$alt-body-bg:       $sbg1;
$body-txt:          $base-txt;
