// PALETTE DE COULEURS
// -------------------

// Camaïeu pour les fonds de page/blocs
// de la version connectée
$gray-dark1:        #282c37;
$gray-dark2:        #393e4e;
$gray-dark3:        #495064;
$gray-dark4:        #5a637b;

// Camaïeu pour les fonds de la version web
// consultation non connectée
$slate-dark1:       #2c3e50;
$slate-dark2:       #34495e;

// Texte
// (n&b francs ici, peuvent être nuancés)
$lightest:          #fff;
$darkest:           #000;
$gray-light:        #d0d3dd;
$gray-soft:         #93abc3;
$gray-medium:       #6a7592;

// Messages système
$error:             #c0392b; // error red
$success:           #27ae60; // succ green

// Autres couleurs
$turquoise:         #00ced1;
$darker-turquoise:  #009092;
$lighter-turquoise: #dbfaf4;
$blue-green:        #52abaf;
$light-variant:     #e0ffff;

// application
$base1:             $gray-dark1;
$base2:             $gray-dark2;
$base3:             $gray-dark3;
$base4:             $gray-dark4;

$body-bg:           $base1;
$body-bg-web:       $slate-dark1;

$body-txt:          $lightest;
$muted-txt:         $gray-medium;
$light-txt:         $gray-light;

$vibrant:           $darker-turquoise;
$button-bg-hover:   $turquoise;

$accent:            $blue-green;
$light-accent:      $light-variant;


