// page individuelle visible sur le web hors connexion
.card {
  font-size: 1rem;
  background: $sbg3;
  padding: 5rem 0 0;
  border-radius: .25rem .25rem 0 0;
  box-shadow: 0 0 1rem rgba($darkest, 0.2);
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 44em) {
    border-radius: 0;
    box-shadow: none;
  }

  &:after {
    background: linear-gradient(rgba($sbg2, 0.5), rgba($sbg2, 0.8));
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .name {
    display: block;
    font-size: 20px;
    line-height: 18px * 1.5;
    color: $lightest;
    font-weight: 500;
    text-align: center;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 2px $darkest;

    small {
      display: block;
      font-size: .875rem;
      color: $lightest;
      font-weight: 400;
    }
  }

  .avatar {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;

    img {
      width: 120px;
      height: 120px;
      display: block;
      border-radius: 120px;
    }
  }

  .controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }

  .details {
    display: flex;
    margin-top: 1.5rem;
    position: relative;
    z-index: 2;
    flex-direction: row;
  }

  .details-counters {
    display: flex;
    flex-direction: row;
    order: 0;
  }

  .counter {
    width: 5.5em;
    color: $muted;
    padding: 5px 10px 0px;
    margin-bottom: 10px;
    border-right: 1px solid $muted;
    cursor: default;
    position: relative;

    a {
      display: block;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      border-bottom: 4px solid $muted;
      opacity: 0.5;
      transition: all 0.8s ease;
    }

    &.active {
      &:after {
        border-bottom: 4px solid $vibrant;
        opacity: 1;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transition-duration: 0.2s;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .counter-label {
      font-size: .75rem;
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
      text-shadow: 0 0 2px $darkest;
    }

    .counter-number {
      font-weight: 500;
      font-size: 1.125rem;
      color: $lightest;
    }
  }

  .bio {
    flex: 1;
    font-size: .875rem;
    line-height: 1.125;
    padding: .25rem .5rem;
    color: $muted;
    order: 1;
  }

  @media screen and (max-width: 30em) {
    .details {
      display: block;
    }

    .bio {
      text-align: center;
      margin-bottom: 20px;
    }

    .counter {
      flex: 1 1 auto;
    }

    .counter:last-child {
      border-right: none;
    }
  }
}

.pagination {
  padding: 30px 0;
  text-align: center;
  overflow: hidden;

  a, .current, .page, .gap {
    font-size: 14px;
    color: $lightest;
    font-weight: 500;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
  }

  .current {
    background: $lightest;
    border-radius: 100px;
    color: $contrast-txt;
    cursor: default;
  }

  .gap {
    cursor: default;
  }

  .prev, .next {
    text-transform: uppercase;
    color: $gray7;
  }

  .prev {
    float: left;
    padding-left: 0;

    .fa {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .next {
    float: right;
    padding-right: 0;

    .fa {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .disabled {
    cursor: default;
    color: $muted;
  }

  @media screen and (max-width: 20em) {
    padding: 30px 20px;

    a, .current, .next, .prev, .gap {
      display: none;
    }

    .next, .prev {
      display: inline-block;
    }
  }
}

.accounts-grid {
  box-shadow: 0 0 15px rgba($darkest, 0.2);
  background: $lightest;
  border-radius: 0 0 4px 4px;
  padding: 20px 10px;
  padding-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 40em) {
    border-radius: 0;
    box-shadow: none;
  }

  .account-grid-card {
    box-sizing: border-box;
    width: 335px;
    border: 1px solid $gray7;
    border-radius: 4px;
    color: $contrast-txt;
    margin-bottom: 10px;

    &:nth-child(odd) {
      margin-right: 10px;
    }

    .account-grid-card__header {
      overflow: hidden;
      padding: 10px;
      border-bottom: 1px solid $gray7;
    }

    .avatar {
      width: 60px;
      height: 60px;
      float: left;
      margin-right: 15px;

      img {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 60px;
      }
    }

    .name {
      padding-top: 10px;

      a {
        display: block;
        color: $contrast-txt;
        text-decoration: none;

        &:hover {
          .display_name {
            text-decoration: underline;
          }
        }
      }
    }

    .display_name {
      font-size: 14px;
      display: block;
    }

    .username {
      color: $vibrant;
    }

    .note {
      padding: 10px;
      padding-top: 15px;
      color: $gray6;
      word-wrap: break-word;
    }
  }
}

.nothing-here {
  color: $gray6;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
  padding-bottom: 25px;
  cursor: default;
}

.account-card {
  padding: 14px 10px;
  background: $lightest;
  border-radius: 4px;
  text-align: left;
  box-shadow: 0 0 15px rgba($darkest, 0.2);

  .detailed-status__display-name {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    & > div {
      float: left;
      margin-right: 10px;
      width: 48px;
      height: 48px;
    }

    .avatar {
      display: block;
      border-radius: 4px;
    }

    .display-name {
      display: block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;

      strong {
        font-weight: 500;
        color: $contrast-txt;
      }

      span {
        font-size: 14px;
        color: $gray6;
      }
    }

    &:hover {
      .display-name {
        strong {
          text-decoration: none;
        }
      }
    }
  }

  .account__header__content {
    font-size: .875rem;
    color: $contrast-txt;
  }
}
