code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.form-container {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
}

.simple_form {
  .input {
    margin-bottom: 1rem;
  }

  span.hint {
    display: block;
    color: $gray6;
    font-size: .75em;
    margin-top: .25rem;
  }

  p.hint {
    margin-bottom: 1rem;
  }

  strong {
    font-weight: 500;
  }

  .label_input {
    display: flex;

    label {
      flex: 0 0 auto;
      width: 8em;
    }

    input {
      flex: 1 1 auto;
    }
  }

  .input.file, .input.select {
    padding: 1rem 0;
    margin-bottom: 0;

    label {
      font-family: inherit;
      font-size: 1rem;
      color: $lightest;
      display: block;
      padding-top: .25rem;
    }
  }

  .fields-group {
    margin-bottom: 1.5rem;
  }

  .input.boolean {
    margin-bottom: .25rem;

    label {
      font-family: inherit;
      font-size: .875rem;
      color: white;
      display: block;
      width: auto;
    }

    label.checkbox {
      position: relative;
	    padding-left: 1.5rem;
    }

    input[type=checkbox] {
	    position: absolute;
	    left: 0;
      top: 1px;
      margin: 0;
    }

    .hint {
      padding-left: 1.5rem;
      margin-left: 0;
    }
  }

  input[type=text], input[type=number], input[type=email], input[type=password], textarea {
    background: transparent;
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid $gray6;
    border-radius: 2px 2px 0 0;
    padding: .5rem .25rem;
    font-size: 1rem;
    color: $lightest;
    display: block;
    width: 100%;
    outline: 0;
    font-family: inherit;
    resize: vertical;

    &:invalid {
      box-shadow: none;
    }

    &:focus:invalid {
      border-bottom-color: $error;
    }

    &:required:valid {
      border-bottom-color: $success;
    }

    &:active, &:focus {
      border-bottom-color: $vibrant;
      background: rgba($darkest, 0.1);
    }
  }

  .input.field_with_errors {
    label {
      color: $error;
    }

    input[type=text], input[type=email], input[type=password] {
      border-bottom-color: $error;
    }

    .error {
      display: block;
      font-weight: 500;
      color: $error;
      margin-top: .25rem;
    }
  }

  .actions {
    margin-top: 1.75rem;
  }

  button, .block-button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: .25rem;
    background: $vibrant;
    color: $lightest;
    font-size: 1.125rem;
    padding: .5rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    outline: 0;
    margin-bottom: .5rem;

    &:hover {
      background-color: lighten($vibrant, 5%);
    }

    &:active, &:focus {
      position: relative;
      top: 1px;
      background-color: darken($vibrant, 5%);
    }

    &.negative {
      background: $error;

      &:hover {
        background-color: lighten($error, 5%);
      }

      &:active, &:focus {
        background-color: darken($error, 5%);
      }
    }
  }
}

.flash-message {
  background: $bg1;
  color: $gray6;
  border-radius: .25rem;
  padding: 1rem .5rem;
  margin-bottom: 30px;
  box-shadow: 0 0 5px rgba($darkest, 0.2);
  text-align: center;

  strong {
    font-weight: 500;
  }
}

.form-footer {
  margin-top: 1.75rem;
  text-align: center;

  a {
    color: $lightest;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.oauth-prompt, .follow-prompt {
  margin-bottom: 1.75rem;
  text-align: center;
  color: $gray6;

  h2 {
    font-size: 1rem;
    margin-bottom: 1.75rem;
  }

  strong {
    color: $gray7;
    font-weight: 500;
  }
}

.qr-wrapper {
  display: flex;
}

.qr-code {
  flex: 0 0 auto;
  background: $lightest;
  padding: 4px;
  margin-bottom: 1.25rem;
  box-shadow: 0 0 2rem rgba($darkest, 0.2);
  display: inline-block;

  svg {
    display: block;
    margin: 0;
  }
}

.qr-alternative {
  margin-left: .5rem;
  color: $gray6;

  samp {
    display: block;
    font-size: .875rem;
  }
}
